{% extends 'base.html' %}
{% block title %}
    Education
{% endblock %}
{% block body %}
    <div class="container marketing">
        <br>
        <br>
        <div class="row featurette">
            <div class="col-md-5 order-md-1" >
                <img src="../static/photo_2021-12-29_09-21-56.jpg" width="250px" height="400px" alt=""/>
            </div>
            <div class="col-md-7 order-md-2">
                <h4 class="fw-light lh-base">Карпинская Валерия Юльевна.&nbsp
                    Ведущий эксперт лаборатории нейровизуализации Института мозга человека им. Н.П. Бехтеревой, доцент СПБГУ, руководитель научно-исследовательской программы НМЦ Сенсомоторной интеграции, психолог, ведущий
                    индивидуальных и групповых консультаций.<br><br>
                Интересы: психология сознания, когнитивная психология, психология восприятия и действия<br><br>
                Образование: врач-лечебник, психолог, преподаватель психологии<br>
                    Дальневосточная государственная морская академия им адм Г.И. Невельского, факультет психологии
                    Владивостокский медицинский университет, лечебный факультет
                    Санкт-Петербургский государственный университет, аспирантура, диссертация на тему «Влияние
                    иллюзорного изменения стимула на порог его обнаружения», специальность 19.00.01 (общая психология,
                        психология личности, история психологии<br><br>
                Дополнительное образование:<br>
                    - Bard-colledge (USA), программы:<br>
                    Writing and thinking<br>
                    Thinking through research<br>
                    - Московская высшая школа гуманитарной психотерапии, программы:<br>
                    Гештальттерапия. Концептуальные принципы;<br>
                    Гештальттерапия Аберрации восприятия. Феномер проекции. Работа со сновидением;<br>
                    Эффективные лингвистические модели в психотерапии;<br>
                    Техники гуманистической психотерапии. Эмоциональная психотерапия<br>
                    - Ассоциация гуманистической психологии, программа<br>
                    Основы гуманистической психологии. Психологический кризис и его преодоление<br>
                    Санкт-Петербургский государственный университет, программа:<br>
                        Модерация конфликтов в группе<br><br>
                 Должности в настоящий момент времени:<br>
                    1.Ведущий эксперт Института мозга человека им. Н.П. Бехтеревой Российской академии наук, лаборатория
                    нейровизуализации<br>
                       2. Доцент Санкт-Петербургский государственный университет, Институт когнитивных исследований
                 Автор и разработчик образовательных курсов и программ: Современная психофизика, Психофизика,
                    Диагностика когнитивных функций, Основы практической психологии, Основы прикладной когнитивной
                       психологии, Введение в психологию, История когнитивной науки и др.<br><br>
           Автор более 100 научных публикаций, среди которых тезисы выступления на конференциях, научные статьи
                    в российских и зарубежных журналах, монографии, коллективные монографии<br><br>
                Он-лайн курсы (платформы OPENEDU, COURSERA)<br><br>
                    Руководитель научных проектов, финансируемых фонтами Российской федерации (Российский фонд
                    фундаментальных исследований, Российский гуманитарный научный фонд):<br>
                    15-06-09321 РФФИ (2015-2016), руководитель. Переключение пространственного внимания, связанного и не
                    связанного с движениями глаз, в задаче, индуцирующей “слепоту к изменениям”<br>
                    16-36-01008-ОГН РФФИ (2016-2018), руководитель. Ассимиляция и контраст, обусловленные установкой на
                    основе иллюзий восприятия<br>
                    19-013-00036 РФФИ (2018-по наст вр), руководитель. Восприятие иллюзорной информации в условиях сухой
                    иммерсии<br>
                    Премия Правительства Санкт-Петербурга за достижения в области научно-педагогической деятельности
                        (2012 г.)<br><br>

                    Дополнительно:<br>
                    http://cogpsy.ru/team/karpinskaya/<br><br>
                    Instagram: psychologvdele.spb<br><br>
                    Регулярно читаю и открытые лекции в музеях, библиотеках города, на научно-популярных мероприятиях,
                    проводимых Институтом когнитивных исследований, факультетом свободных искусств и наук, рецензирую
                    статьи для ведущих российских научных журналов в области психологии, выступаю с докладами на
                    всероссийских и международных конференциях, пишу статьи для интернет-издания «Постнаука»</h4>
            </div>

        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
{% endblock %}
