{% extends 'base.html' %}
{% block title %}
    My publications
{% endblock %}
{% block body %}
    <div class="container marketing">
        <br>
        <br>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading ">Мои публикации</h1>
                <!---шрифт стоимости сделать меньше. Строчкой ниже формат-онлайн и очно,-->
                <br>
                <h4 class="fw-light">&nbsp&nbsp&nbsp&nbsp Монография Карпинская В.Ю. Почему мы не видим то, что видим? / Издательство
                    «Самарский университет».- Самара, 2015 – 144 с. (9 п.л.). ISBN 978-5-
                    86465-685-3<br>
                    &nbsp&nbsp&nbsp&nbspГлава в монографии.
                    Victor M. Allakhverdov, Margarita G. Filippova, Valeria A. Gershkovich,
                    Valeriia Yu. Karpinskaia, Tanya V. Scott, and Natalia P. Vladyki na.Consciousness, learning, and
                    control: on the path to a theory. Implicit
                    learning: 50 years on\ Edited by Axel Cleeremans, Viktor Allakhverdov,
                    Maria Kuvaldina. Routledge, 2019.-p. 71-1083/<br>&nbsp&nbsp&nbsp&nbsp Редактирование. Первая всероссийская конференция «Сенсомоторная ин
                    теграция: теория и практика» : сборник тезисов / под ред.
                    В. Ю. Карпинской, Т. М. Маминой. — СПб. : Нестор-История,
                    2021. — 96 с. — ISBN 978-5-4469-2015-0.<br><br>&nbsp&nbsp&nbsp&nbsp
                    Статьи и тезисы - более 80 публикаций, список основных работ:<br>&nbsp&nbsp&nbsp&nbsp
                    Публикации в журналах, рецензируемых ВАК РФ<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Принятие сенсорных решений при предъявлении ил люзорных стимулов // Вестник
                    Санкт-Петербургского университета. -
                    Сер.12: Психология, социология, педагогика. - 2008. - Вып. 2. - С. 109-116
                    Журнал ВАК, п. 465 Перечня, 0,8 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Владыкина Н.П. Принятие решения об осознании и
                    неосознании в задачах обнаружения и различения // Известия Самарского
                    научного центра РАН. - Т. 11. - № 4 (2). - Самара, 2009. - С. 404-412. Журнал
                    ВАК, п. 967 Перечня, 0,1 п.л. (В.Ю. Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Агафонов А.Ю. Помогает ли подсказка, если она не
                    осознается? Результаты исследования прайминг-эффектов // Известия Самар ского научного центра РАН. -
                    Т.12. - №3. - Самара, 2010. - С. 90-93. Журнал
                    ВАК, п. 967 Перечня, 0,1 п.л. (В.Ю. Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Владыкина Н.П. Различение стимулов при восприя тии их в автостереографическом
                    изображении // Вестник Санкт Петербургского университета. - Сер. 12: Психология, социология,
                    педагоги ка. - 2011. - Вып. 2. - С. 51-55. Журнал ВАК, п. 465 Перечня, 0,1 п.л. (В.Ю.
                    Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Шелепин Ю.Е. Неосознаваемое восприятие автосте реографических изображений //
                    Экспериментальная психология. - 2010 - Т. 3.
                    - №3. - С.57-65. Журнал ВАК, п.2175 Перечня. 0,8 п.л. (В.Ю. Карпинская 0,4
                    п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Ляховецкий В.А. Роль межполушарной асимметрии
                    при сенсомоторной оценке иллюзий восприятия // Экспериментальная пси-
                    57
                    хология. - 2012. - Т.5 - №1. - С.35–44. Журнал ВАК, п.2175 Перечня, 0,8 п.л.
                    (В.Ю. Карпинская 0,4 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Ляховецкий В.А. Различия в сенсомоторной оценке
                    иллюзий Понзо и Мюллера-Лайера // Психологические исследования. - 2014.
                    - Т. 7. - № 38 - С. 3. URL: http://psystudy.ru. Журнал ВАК, п. 1638 Перечня,
                    0,8 п.л. (В.Ю. Карпинская 0,4)<br>&nbsp&nbsp&nbsp&nbsp
                    Аллахвердов В.М., Гершкович В.А., Карпинская В.Ю., Морошкина
                    Н.В.,. Науменко О.В, Тухтиева Н.Х., Филиппова М.Г. Эвристический потен циал концепции Я.А.
                    Пономарева // Психологический журнал. - 2015. - Т. 36.
                    - №6. - С. 32-39. Журнал ВАК, 1 п.л. (В.Ю. Карпинская 0,1 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Карпинская Ю.Ю., Куделькина Н.С., Шилов Ю.Е.
                    Неосознанно воспринятая информация как основа принятия решения о при надлежности к классу //
                    Известия Самарского научного центра РАН. - Т.17. -
                    №1 (4). - Самара, 2015. - С. 891-896. Журнал ВАК, п. 967 Перечня, 0,8 п.л.
                    (В.Ю. Карпинская 0,4 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Владыкина Н.П., Шилов Ю.Е. Классификация в про цессе зрительного восприятия //
                    Известия Самарского научного центра РАН.
                    - Т.17. - №1 (4). - Самара, 2015. - С. 642-650. Журнал ВАК, п. 967 Перечня, 1
                    п.л. (В.Ю. Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Бурмистров С.Н., В.Ю.Карпинская В.Ю. Влияние имплицитного знания
                    структуры задач на эффективность эксплицитного решения // Известия Са марского научного центра РАН.
                    - Т.17 - №1 (4). - Самара, 2015. -С. 876-881.
                    Журнал ВАК, п. 967 Перечня, 1 п.л. (В.Ю. Карпинская 0,3 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская, В.Ю., Шилов Ю.Е. Роль процесса классификации при
                    восприятии многозначных стимулов // Известия Самарского научного центра
                    58
                    РАН. – Т.17. - №1(3). - Самара, 2015. - С. 378-381. Журнал ВАК, п. 967 Пе речня, 0,8 п.л. (В.Ю.
                    Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Ляховецкий В.А., Карпинская В.Ю., Боброва Е.В. Выявление схемы
                    пространственного кодирования по распределению ошибок памяти человека.
                    Журнал высшей нервной деятельности. - 2015. - Т.65. - №4. - С. 429-435.
                    Журнал ВАК, п. 806, 1 п.л. (В.Ю. Карпинская 0,3 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Соснина И.С., Ляховецкий В.А., Зеленский К.А., Карпинская В.Ю., То миловская Е.С. Влияние 5-суточной
                    «сухой» иммерсии на силу иллюзий
                    Понзо и Мюллер-Лайера // Журнал Высшей Нервной Деятельности. 2018.
                    68(3): 313-326.<br>&nbsp&nbsp&nbsp&nbsp
                    Шошина И.И., Соснина И.С., Зеленский К.А., Карпинская В.Ю., Ляхо вецкий В.А., Пронин С.В.
                    Контрастная чувствительность зрительной систе мы в условиях «сухой» иммерсии // Биофизика. 2020.
                    65(4). 798-803.<br>&nbsp&nbsp&nbsp&nbsp
                    Ляховецкий В.А., Соснина И.С., Зеленский К.А., Карпинская В.Ю., То миловская Е.С. Влияние
                    21-суточной «сухой» иммерсии на сенсомоторную
                    оценку иллюзий Понзо и Мюллер-Лайера при схватывании // Авиакосмиче ская и экологическая медицина.
                    2020. Т.54. №4. С.58–63.<br>&nbsp&nbsp&nbsp&nbsp
                    Соснина И.С., Ляховецкий В.А., Зеленский К.А., Шошина И.И., Карпин ская В.Ю., Томиловская Е.С.
                    Влияние 21-суточной «сухой» иммерсии на ил люзии Понзо и Мюллер-Лайера // Физиология Человека. 2021.
                    47(1): 63-72.<br>&nbsp&nbsp&nbsp&nbsp
                    Публикации в изданиях, индексируемых Web of science, Scopus:<br>&nbsp&nbsp&nbsp&nbsp
                    Karpinskaia V., Lyachovetskii V. The sensorimotor evaluation of perceptual
                    illusions // Procedia - Social and Behavioral Sciences . – Vol. 86. – 2013. - P. 323-
                    327. (В.Ю. Карпинская 0,5)<br>&nbsp&nbsp&nbsp&nbsp
                    Karpinskaia V., Lyakchovetsky V. The sensorimotor measurements of per ceptual illusion //
                    Perception. – Vol. 41. - 2012. – P. 94<br>&nbsp&nbsp&nbsp&nbsp
                    Karpinskaia V., Lyakchovetsky V. The differences of perception of Muller Lyer and Ponzo illusions at
                    sensorimotor measurements // Perception. – Vol.42 –
                    2013<br><br>&nbsp&nbsp&nbsp&nbsp
                    Учебные пособия, научные статьи и доклады.<br>&nbsp&nbsp&nbsp&nbsp
                    Общий психологический практикум. Ощущение и восприятие. Учебное
                    пособие для студентов, обучающихся по направлению подготовки «Психоло гия». - СПб.: СПбГУ. Факультет
                    психологии, 2013. (1,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Общий психологический практикум. Память Учебное пособие для сту дентов, обучающихся по направлению
                    подготовки «Психология». СПб.:
                    СПбГУ. Факультет психологии, 2013. (1,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Принятие решений при предъявлении иллюзорных
                    стимулов // Третья международная конференция по когнитивной науке: тези-
                    60
                    сы докладов в 2т. Москва, 20-25 июня 2008 г. – М.: Художественно издательский центр, 2008. - Т.1. –
                    292 с. - С. 290-291. 0,1 п. л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Влияние иллюзорного изменения стимула на порог его
                    обнаружения // Ананьвские чтения 2008 (Тезисы научно-практической кон френции «Ананьвские чтения –
                    2008» / Под общ. ред. Н.С. Хрусталевой, Л.А.
                    Цветковой. – Спб.: Издательство СПбГУ, 2008. - С. 196-197. 0,1 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Четвериков А.А. Исследование неосознанного вос приятия на материале
                    стереоизображений // Ананьвские чтения 2008. Тезисы
                    научно-практической конфренции «Ананьвские чтения – 200» / Под общ.
                    ред. Н.С. Хрусталевой, Л.А. Цветковой – Спб.: Издательство СПбГУ, 2008. -
                    С. 251-253. 0,2 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Изменение порогов при восприятии иллюзорных объ ектов // Психология XXI века: тезисы
                    международной межвузовской научно практической конференции «Психология XXI века» / Под ред. Н.В.
                    Гриши ной – СПб.: Издательство СПбГУ, 2008. - С. 35-37. 0,1 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Куделькина Н.С. Влияние ошибочного восприятия на
                    эффективность решения сенсорных задач // Психологические исследования:
                    сборник научных трудов. – Вып. 7 / Под ред. А.Ю. Агафонова, В.В. Шпунто вой. - Самара: Изд-во
                    «Универс-групп» 2009. - С. 35-43. 0,3 п.л. (В.Ю. Кар пинская 0,2 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Четвериков А.А. Влияние автостереограмм на ско рость лексического решения.
                    Психологические исследования: сборник науч ных трудов. – Вып.7 / Под ред. А.Ю. Агафонова, В.В.
                    Шпунтовой. Самара:
                    Изд-во «Универс-групп», 2009. – С.91-97. 0,3 п.л. (В.Ю. Карпинская 0,2 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Четвериков А.А. Неосознанное восприятие автосте реографического изображения при
                    решении арифметических задач // Всерос сийская конференция «Нелинейная динамика в когнитивных
                    исследованиях».
                    13-15 мая 2009 года. - Нижний Новгород, 2009. - С. 66-68. 0,1 п.л. (В.Ю. Кар пинская 0,05 п.л.)
                    61<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Ворожейкин И.В. Изучение динамики дифференци альной чувствительности в условиях
                    отсутствия обратной связи // Четвертая
                    международная конференция по когнитивной науке. 22-26 июня 2010 года. -
                    Тезисы докладов. - Т.1. - С. 201-203. 0,1 п.л. (В.Ю. Карпинская 0,05 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Ворожейкин И.В. Четвертая международная конфе ренция по когнитивной науке. 22-26
                    июня 2010 года. - Тезисы докладов. -
                    Т.1. -С. 317-318. 0,1 п.л. (В.Ю. Карпинская 0,05 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    KarpinskaiaV., Vladykina N. Decision making regarding conscious and un conscious perception in
                    detection and discrimination tasks. // Journal of Russian
                    and East European Psychology. - Vol. 48. - N. 3. - 2010. - Pp. 33-51. 1 п.л. (В.Ю.
                    Карпинская 0,5 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Карпов А.Д. Эффект влияния иррелевантной задачи
                    на процесс обнаружения стимула // Всероссийская научная конференция
                    «Экспериментальная психология в России: традиции и перспективы». 18-19
                    ноября 2010 года. Тезисы докладов. - Издательство «Институт психологии
                    РАН". - С. 266-270. 0,3 п. л. (В.Ю. Карпинская 0,2п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю. Различение автостереографических стимулов // Мате риалы второй Всероссийской
                    конференции "Нелинейная динамка в когни тивных исследованиях - 2011", 18-21 июня 2011 года. - Нижний
                    Новгород -
                    С.86-87. 0,3 п.л. (В.Ю. Карпинская 0,2 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Ляховецкий В.А. Сенсомоторная оценка иллюзорных
                    объектов // Когнитивная психология сознания. Издательство «Лема». - Санкт Петербург, 2011. -
                    С.66-79. 0,5 п.л. (В.Ю. Карпинская 0,2 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Karpinskaia V., Lyakchovetsky V.The conscious control of sensorimotor
                    measurements оf perceptual illusions // Journal of
                    Russian and East European Psy chology. - Vol.49. - №5. – 2011. – Pp. 78-85. 0,05 п.л. (В.Ю.
                    Карпинская 0,02
                    п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В.Ю., Ляховецкий В.А. Роль указывающей руки при оценке
                    геометрической иллюзии // Пятая Международная конференция по когни-
                    62
                    тивной науке, 18 -24 июня 2012 года. - Тезисы докладов. Калининград, 2012.
                    - Т.1. -С. 398-399. 0,1 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Karpinskaia V. Lyakchovetsky V. The sensorimotor measurements of per ceptual illusion // 36 European
                    Conference on Visual Perception, 2-6 September
                    2012. - Alghero-Italy. - Abstracts. – Perception. – Vol. 41 - P. 94. 0,1 п.л.<br>&nbsp&nbsp&nbsp&nbsp
                    Карпинская В. Ю., Гершкович В. А., Морошкина Н. В., Аллахвердов В.
                    М., Иванчей И. И., Морозов М. И., Кувалдина М. Б., Волков Д. Н. Возникно вение повторяющихся ошибок
                    процессе сенсомоторного научения и способы
                    их коррекции // Вестник Санкт-Петербургского университета. – Сер. 16:
                    Психология. Педагогика. - 2013. - Вып.4 - С. 43-54. 1 п.л. (В.Ю. Карпинская
                    0,2 п.л.)<br>&nbsp&nbsp&nbsp&nbsp
                    Ляховецкий В.А., Карпинская В.Ю., Соснина И.С., Томиловская Е.С.
                    Влияние курса высокочастотной электромиостимуляции в ходе 5-суточной
                    “сухой” иммерсии на восприятие иллюзий// Журнал Эволюционной Физио логии и биохимии. 2020. 56(7). С.
                    638.<br>&nbsp&nbsp&nbsp&nbsp
                    Шошина И.И., Зеленская И.С., Карпинская В.Ю., Ляховецкий В.А. Вли яние высокочастотной
                    электромиостимуляции на контрастную чувствитель ность зрительной систе-мы в условиях «сухой»
                    иммерсии // Интегративная
                    физиология: Всероссийская конференция с международным участием, по священная 95-летию Института
                    физиологии им И.П. Павлова РАН, Санкт Петербург (9-11 декабря 2020). 2020. С.18.<br>&nbsp&nbsp&nbsp&nbsp
                    Zelenskaya I.S., Lyakhovetskii V.A., Karpinskaya V.Ju., Shoshina I.I., Tomi lovskaya E.S.
                    Sensorimotor tasks during 21-day dry immersion // XXIII Interna tional Symposium Human in Space.
                    Aerospace and Environmental Medicine.
                    2021. V.55 №1/1 special issue. 150-153</h4>
            </div>
            <div class="col-md-5 order-md-1" style="padding-top: 2%">
                <img src="/static/photo_2021-12-29_09-21-49.jpg" width="80%" height="11%" alt=""/>
            </div>
        </div>
    </div>
{% endblock %}
