{% extends 'base.html' %}
{% block title %}
    Services
{% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="../static/static.css">
{% block body %}
    <style>
        #page_up_down_button {
            position: sticky;
            margin-left: 0;
            bottom: 0;
        }
    </style>
    <body>
    <style>
        @media only screen and (min-width: 1500px) {
            .container {
                max-width: 1800px;
            }
        }

        body {
            font-family: roboto, sans-serif;
            font-size: 15px;
        }

        .info {
            background-color: #f9f9ff;
            padding: 10px 25px;
        }

        .info__switch {
            display: none;
        }

        .info__body {
            max-height: 0;
            overflow: hidden;
            transition: 0.4s;
        }

        .info__switch:checked ~ .info__body {
            max-height: 100%;
        }

        .info__headline::before {
            content: "";
            position: absolute;
            left: -18px;
            top: 4px;
            border: 6px solid #39739d;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
        }

        .info__switch:checked ~ .info__headline::before {
            transform: rotate(180deg) translateY(6px);
        }

        .info__headline {
            display: block;
            position: relative;
            margin-bottom: 15px;
            user-select: none;
            color: #39739d;
            font-weight: normal;
            cursor: pointer;
        }

        .info__headline:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container marketing" style="width: 1400px;">
        <br>
        <br>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Психологическая консультация  (60-80 мин.)</h2>
                <h3><span
                        class="text-muted"> Стоимость: 4000 руб.</span></h3>
                <!---шрифт стоимости сделать меньше. Строчкой ниже формат-онлайн и очно,-->
                <p class="lead">Консультации по вопросам личностного роста, достижения целей, развития когнитивных
                    функций, проблемы межличностного общения, взаимодействия с близкими, друзьями, коллегами, разрешение
                    конфликтов, детско- родительские отношения, сенсомотрная интеграция. <br>Консультирую взрослых и
                    подростков, в центре сенсомоторной интеграции провожу консультирование родителей и детей дошкольного
                    и младшего школьного возраста.</p>
            </div>
            <div class="col-md-5">
                <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="../static/black_p" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
                <img src="../static/VALERIA_15.JPG" width="400px" height="300px" alt=""/>
            </div>
        </div>
        <br>
        <br>
        <hr class="featurette-divider">
        <br>
        <br>
        <div class="row featurette">
            <div class="col-md-5 order-md-2" style="padding-top: 34px;padding-left: 40px">
                <img src="../static/photo_2022-02-02_21-48-57.jpg" width="260px" height="230px" alt=""/>
            </div>
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Антикризисная программа</h2>

                <!---Общая информация,для кого,почему стоит прийти на первый запуск,орг вопросы,видео-->
                <div class="info">
                    <input id="info__body_1" class="info__switch" type="checkbox">
                    <label for="info__body_1" class="info__headline">Описание</label>
                    <div class="info__body">
                        <p class="lead">&nbsp&nbsp&nbsp&nbspКризис происходит в жизни каждого человека и ни один раз.
                            Причины для кризиса
                            могут
                            крыться как в самом человеке, например, в разные возрастные периоды все проходят кризисы
                            развития (
                            известны кризисы 1, 3, 7 лет, подростковый и т.п.), так и во внешнем мире: экономические,
                            политические проблемы, отношения с близкими, неурядицы на работе, здоровье..
                            Все это про кризисные ситуации.<br> &nbsp&nbsp&nbsp&nbspВообще, кризис означает резкое
                            изменение, поворотную точку,
                            эти
                            перемены могут вести и к ухудшению и к улучшению ситуации. Но само по себе кризисное
                            состояние, вне
                            зависимости от последствий ничего хорошего нам не сулит. Это всегда тревога, потеря энергии,
                            трата
                            ресурса, дезориентация, сужение внимания. Человек сталкивается с проблемой, которую и решить
                            не
                            может быстрым и привычным способом, а уйти ему тоже не удается.
                            При этом, если находится решение, то чаще всего, кризис проходит без существенных
                            последствий. Хотя,
                            опыт пребывания в длительной кризисной ситуации - это тоже последствие: так приобретаются
                            негативные
                            установки, выученная беспомощность, низкая самооценка...<br>
                            &nbsp&nbsp&nbsp&nbspЧеловек, пришедший на консультацию к психологу, по сути попал в
                            ситуацию, которую не удается
                            решить
                            самим и, если обращение не связано с вопросами саморазвития, то это чаще всего кризисное
                            состояние,
                            вызванное сложными отношениями, проблемами со здоровьем, потерей целей и смысла жизни,
                            нарушениями
                            контроля и т.д. Конечно, решение в каждом случае индивидуальное, но есть и универсальные
                            правила,
                            которые помогут разобраться в кризисной ситуации без длительных индивидуальных консультаций,
                            приобрести навыки, позволяющие спокойнее и эффективнее справляться с новыми трудностями,при
                            необходимости помогать своим детям и близким людям. И такие общие навыки самопомощи, полезно
                            знать
                            каждому, но в психологии мало знать, нужно ещё и освоить на практике, лучше в присутствии
                            психолога.
                            Как и упражнения со штангой лучше начинать в присутствии тренера, а экстренной помощи лучше
                            обучаться не по книгам, а с медицинским работником.<br>
                            &nbsp&nbsp&nbsp&nbspКурс на удобной образовательной платформе, с приложением для телефона, в
                            нем
                            есть видео инструкции, письменные задания, возможность проверки, обратной связи и чата,
                            итоговый
                            вебинар, телеграм- канал, как средство быстрой связи.<br>
                            &nbsp&nbsp&nbsp&nbspВ психологической работе я не представляю массовых мероприятий. Мне
                            важно понимать,что происходит с каждым участником,поэтому работа ведётся в группе 12-15
                            человек. И
                            все задания мы делаем и обсуждаем вместе.<br>
                            &nbsp&nbsp&nbsp&nbspКурс состоит из вводного урока, 4 индивидуальных заданий с обратной
                            связью, задания для
                            совместной
                            работы с другими участниками и итогового вебинара.<br>
                            &nbsp&nbsp&nbsp&nbspДлительность всей программы 7-10 дней, Вам потребуется 20-30 минут в
                            день, и я оставила чуть
                            больше
                            времени на реализацию совместной работы.<br>
                            &nbsp&nbsp&nbsp&nbspСтоимость участия для первого потока 1900 руб</p></div>
                </div>
                <div class="info">
                    <input id="info__body_2" class="info__switch" type="checkbox">
                    <label for="info__body_2" class="info__headline">На программу стоит прийти</label>
                    <div class="info__body">
                        <p class="lead">
                            Если есть проблема, которая занимает Ваш ум длительное время, и никак не получается ее
                            решить<br><br>
                            Если то, что с Вами происходит,Вы оцениваете как кризис, стресс- это мешает Вам каждый день,
                            как
                            назойливый камешек в ботинке, портит удовольствие, не даёт расслабиться<br><br>
                            Если хотите научиться одному из способов контроля эмоционального состояния<br><br>
                            Если интересно как выглядит Ваша жизнь с такого ракурса, о котором Вы даже не
                            подозревали<br><br>
                            Если то, что с Вами происходит Вы оцениваете как кризис, стресс - это мешает Вам каждый
                            день,как
                            назойливый камешек в ботинке и портит удовольствие, не даёт расслабиться.<br><br>
                            Если просто хотите получить опыт психологической работы (наличие ситуации крайне
                            желательно),
                            не нужно искать черную кошку в темной комнате, если ее нет, но без кошки нам никуда.</p>
                    </div>
                </div>
                <div class="info">
                    <input id="info__body_3" class="info__switch" type="checkbox">
                    <label for="info__body_3" class="info__headline">На первый запуск стоит прийти </label>
                    <div class="info__body">
                        <p class="lead">-он первый, а, значит, для меня это особенно ценный и волнительный
                            процесс.<br><br>
                            - у меня более 20 лет практической и научной работы в области психологии, я создавала курсы,
                            вела консультации, тренинги и вебинары, но это мой первый он-лайн курс как консультанта, для
                            меня это новый интересный опыт, поэтому, я с удовольствием уделю максимум внимания всем
                            участникам.<br><br>
                            - стоимость моей консультации сейчас составляет 4000, я работаю в центре сенсомотрной
                            интеграции. Работа в групповых программах не менее, а иногда и более эффективна + Вы
                            регулярно получаете обратную связь от меня. Стоимость всей программы 1900 рублей.<br><br>
                            - я не знаю, будет ли второй, третий,четвертый запуск, будет ли он на этой платформе или на
                            другой, быть может, этот курс станет частью чего- то бОльшего. Так что сейчас уникальный
                            шанс.</p></div>
                </div>
                <div class="info">
                    <input id="info__body_4" class="info__switch" type="checkbox">
                    <label for="info__body_4" class="info__headline">Как проявляется кризис</label>
                    <div class="info__body">
                        <p class="lead">Какая связь между кризисом взрослого и детской психологией?<br>
                            Важнейшей фигурой в отечественной и мировой психологии является Лев Семёнович Выготский. В
                            его работах представлено довольно подробное описание кризиса:<br><br>
                            - Происходят резкие изменения в относительно короткий период времени:<br><br>
                            - У кризиса нет четких границ, трудно обозначить момент его наступления и окончания<br><br>
                            - Кризис сопровождается конфликтами с окружающими, выпадением из социальных систем<br><br>
                            - Нарушен процесс развития, на первый план выступают процессы распада деструкции того, что
                            было накануне.<br><br>
                            &nbsp&nbsp&nbsp&nbspНесмотря на то, что Выготский писал про кризисы детского возраста, все
                            перечисленное
                            справедливо для взрослых, вне зависимости от того,переживает человек возрастной, финансовый,
                            социальный или ценностный кризис.
                            Хорошая новость в том,что кризис у взрослого ( как и у ребенка) - это вариант личностного
                            развития. Сущность кризиса- необходимость сделать выбор, и внутренне его обосновать. В
                            кризисе возникает конфликт,поскольку человек достигает нового уровня психологической
                            зрелости, на этом уровне прежний образ жизни и мысли утрачивает свою привлекательность, а
                            новые варианты страшат неизвестностью и кажутся не достаточно надёжными.<br>&nbsp&nbsp&nbsp&nbsp
                            Важно
                            помнить,кризис сам по себе не разрушителен, это не катастрофа, это период уязвимости, но,
                            вместе с тем и возрастающих возможностей.<br>
                            Как проявляется кризис:<br>
                            &nbsp&nbsp&nbsp&nbspНет мотивации в личной жизни или работе, общении, во всем сразу.
                            <br>&nbsp&nbsp&nbsp&nbspБудущее представляется безрадостным
                            <br>&nbsp&nbsp&nbsp&nbspВы не цените то,что делаете, вините себя в ошибках, считаете,что
                            недостаточно умны,
                            компетентны, богаты, красивы, честны, веселы, проницательны...
                            <br>&nbsp&nbsp&nbsp&nbspПрежние интересы перестали приносить радость, хочется их сменить, но
                            не понятно на что
                            <br>&nbsp&nbsp&nbsp&nbspПоявилось непривычное беспокойство о своем здоровье .
                            <br>&nbsp&nbsp&nbsp&nbspПри этом, у Вас есть желание жить, Вы неплохо спите, способны
                            активно и с увлечением
                            выполнять какую- то работу, то есть, нет признаков депрессии. Есть общее состояние
                            недовольства своей жизнью, но Вы чувствуете силы и желание это изменить.<br>&nbsp&nbsp&nbsp&nbsp
                            Первый шаг - это
                            посмотреть на свой кризис внимательно, найти в нем части,которые ранее были скрыты от Вашего
                            восприятия. Ведь, если мы не знаем наш кризис, то шанс найти из него выход примерно такой
                            же,как при блуждания в лабиринте: "да, возможно, но никто не скажет когда". А, самое
                            неприятное, что в новом кризисе опять придется блуждать без четкой стратегии. Приходите на
                            "Антикризисную программу", чтобы спокойно и с интересом изучить то, что Вас беспокоит, и
                            научиться раз и навсегда тому, как сберечь свои силы в кризисной ситуации и извлечь из нее
                            пользу.</p></div>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <hr class="featurette-divider">
    <br>
    <br>
    </body>
    <a class="btn btn-light btn-sm" href="#" role="button" id="page_up_down_button">Наверх</a>
{% endblock %}