{% extends 'base.html' %}
{% block title %}
    Videos
{% endblock %}
{% block body %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5" style="background-color: whitesmoke">
                <div class="col-lg-6 col-md-8 mx-auto" style="margin-top:0%">
                    <h1 class="fw-light">Видео и он-лайн курсы</h1>
                </div>
            </div>
        </section>
        <hr class="featurette-divider">
        <div class="shadow-lg py-5 container p-3 mb-5 bg-body rounded text-center" style="background-color: white">
            <h1 class="fw-light"> Он-лайн курсы</h1>
            <br>
            <a href="https://openedu.ru/course/spbu/ZRI_VOS/" class="text-decoration-none"><h3 class="fw-bold">Зрительное восприятие и обманы зрения</h3></a>
            <br>
            <a href="https://openedu.ru/course/spbu/PSYCON/" class="text-decoration-none"><h3 class="fw-bold">Психология сознания</h3></a>
        </div>
        <hr class="featurette-divider">
        <div class="shadow-lg py-5 container p-3 mb-5 bg-body rounded text-center" style="background-color: white">
            <h1 class="fw-light"> Видео</h1>
            <br>
            <a href="https://vimeo.com/249284146" class="text-decoration-none"><h3 class="fw-bold">Почему мы не видим то, что видим?</h3></a>
            <br>
            <a href="https://www.youtube.com/watch?v=m_XEYWyAusM" class="text-decoration-none"><h3 class="fw-bold">Иллюзии восприятия как предмет и как метод исследования</h3></a>
            <br>
            <a href="https://ru.coursera.org/lecture/psikhologiya-soznaniya/skhodstvo-kak-prichina-oshibok-CbvXZ" class="text-decoration-none"><h3 class="fw-bold">Психология сознания. Сходство как причины ошибок</h3></a>
            <br>
            <a href="https://www.coursera.org/lecture/psikhologiya-soznaniya/effiekty-ustanovki-pUzXi" class="text-decoration-none"><h3 class="fw-bold">Психология сознания. Эффекты установки</h3></a>
            <br>
            <a href="https://www.youtube.com/watch?v=CVQ_0Xtjphs&t=4085s" class="text-decoration-none"><h3 class="fw-bold">Иллюзии восприятия: что они говорят о работе сознания?</h3></a>

        </div>
    </main>
{% endblock %}
